<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

    <body>

        <%- include("partials/header.ejs") %>

            <main class="main">

                <!-- Formulario de edicion del producto-->

                <form action="/products/edit/<%= products.id %>" method="GET" class="formulario-edicion-creacion">

                    <h1 class="titulo-new-edit">
                        Edicion de producto: <%= products.articulo %> 
                    </h1>

                    <div class="control-formulario">
                        <label class="preguntas-form"> Nombre del artículo </label>
                        <input type="text" name="articulo" value= "<%= products.articulo %>"  class="ticks"
                            required>
                    </div>

                    <div class="control-formulario">
                        <label class="preguntas-form"> Ingrese una nueva descripcion del artiículo si desea
                            modificarla</label>
                        <input type="textarea" name="descripcion" value= "<%= products.descripcion%>"  class="ticks" required>
                    </div>

                    <div class="control-formulario">
                        <label class="preguntas-form"> Nueva/s imagen/es del producto </label>
                        <input type="file" name="foto-del-producto" accept=".jpg, .png" multiple>
                    </div>


                    <div class="control-formulario">
                        <label class="preguntas-form"> Ingrese la nueva categoria si desea modificarla</label>
                        <input type="text" name="categoria" value= "<%= products.categoria %>"  class="ticks">
                    </div>
                    <div class="control-formulario">
                        <label class="preguntas-form"> Ingrese nueva cantidad en stock si asi lo desea</label>
                        <input type="number" name="stock" placeholder="cantidad..." class="ticks">
                    </div>
                    <div class="control-formulario">
                        <label class="preguntas-form"> Ingrese nueva marca y modelo del articulo si desea
                            modificarlo</label>
                        <input type="text" name="marca" value= "<%= products.marca %>" class="ticks">
                    </div>
                    <div class="control-formulario">
                        <label class="preguntas-form">Ingrese el nuevo precio del articulo si desea modificarla</label>
                        <input type="text" name="precio" placeholder="<%= products.precio %>" class="ticks" required>
                    </div>

                    <!-- Botón "enviar"-->
                    <div>
                        <button type="submit" class="boton-envio">Guardar cambios</button>
                        <button type="reset" class="boton-reset">Borrar todo</button>
                    </div>
                    <!-- ----------- -->

                </form>

            </main>
            <%- include("partials/footer.ejs") %>

</html>