<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

    <body>

        <%- include("partials/header.ejs") %>

            <main class="main_edit">

                <!-- Formulario de edicion del producto-->



                <form action="/products/<%= product.id %>?_method=PUT" method="POST"
                    class="formulario-edicion-creacion" enctype="multipart/form-data">


                    <h1 class="titulo-new-edit">
                        Edicion de producto: <%= product.articulo %>
                    </h1>

                    <div class="control-formulario">
                        <label class="preguntas-form"> Nombre del artículo </label>
                        <input type="text" name="articulo" value="<%= product.articulo %>" class="ticks">
                    </div>

                    <div class="control-formulario">
                        <label class="preguntas-form"> Ingrese una nueva descripcion del artiículo si desea
                            modificarla</label>
                        <input type="textarea" name="descripcion" value="<%= product.descripcion%>" class="ticks">
                    </div>

                    <div class="control-formulario">
                        <label class="preguntas-form"> Nueva/s imagen/es del producto </label>
                        <input type="file" name="imagen" accept=".jpg, .png" multiple>
                    </div>


                    <div class="control-formulario">
                        <label class="preguntas-form"> Ingrese la nueva categoria si desea modificarla</label>
                        <select name="categoria" class="ticks">
                            <% for (let i=0; i<categorias.length; i++)  {%>
                      
                                <% if (categorias[i].id == product.id_categoria){ %>

                                    <option value="<%=categorias[i].id %>" selected>
                                     <%=categorias[i].nombre%>
                                 </option>

                                <% }   else {%>
                                    <option value="<%=categorias[i].id %>">
                                     <%=categorias[i].nombre%>
                                 </option>

                                    <% }  %>
                                
                                 <%} %>
                       </select>         
                    
                    </div>
                    <div class="control-formulario">
                        <label class="preguntas-form"> Ingrese nueva cantidad en stock si asi lo desea</label>
                        <input type="number" name="stock" placeholder="cantidad..." class="ticks">
                    </div>
                    <div class="control-formulario">
                        <label class="preguntas-form"> Ingrese nueva marca del articulo si desea
                            modificarlo</label>
                            <select name="marca" class="ticks">
                                <% for (let i=0; i<marcas.length; i++)  {%>
                          
                                    <% if (marcas[i].id == product.id_marca){ %>

                                        <option value="<%=marcas[i].id %>" selected>
                                         <%=marcas[i].nombre%>
                                     </option>

                                    <% }   else {%>
                                        <option value="<%=marcas[i].id %>">
                                         <%=marcas[i].nombre%>
                                     </option>

                                        <% }  %>
                                    
                                     <%} %>
                           </select>         
                    </div>
                    <div class="control-formulario">
                        <label class="preguntas-form">Ingrese el nuevo precio del articulo si desea modificarla</label>
                        <input type="text" name="precio" value="<%= product.precio %>" class="ticks">
                    </div>

                    <!-- Botones de edit y delete-->
                    <div>

                        <button type="submit" class="boton-envio">Guardar cambios</button>
                    </div>
                    <!-- ----------- -->
                    
                </form>
                
                <form method="POST" action="/products/delete/<%= product.id%>?_method=DELETE">
                    <button type="submit" class="boton-reset">Borrar articulo</button>
                </form>
            </main>
            <%- include("partials/footer.ejs") %>

</html>