<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

    <body>

        <%- include("partials/header.ejs") %>

            <main class="main_edit">

                <!-- Formulario de edicion del producto-->



                <form action="/products/<%= product.id %>?_method=PUT" method="POST"
                    class="formulario-edicion-creacion" enctype="multipart/form-data" id="create-edit-form">


                    <h1 class="titulo-new-edit">
                        Edición de producto<!--: <%= product.articulo %>-->
                    </h1>

                    <ul id="errorsEdit"></ul>

                    <div class="control-formulario">
                        <label class="preguntas-form"> Nombre del artículo </label>
                        <input type="text" id="articulo" name="articulo" value="<%= product.articulo %>" class="ticks">
                        <% if (locals.errors && errors.articulo) { %>
                            <div class="errorMsg">
                                <%= errors.articulo.msg %> 
                            </div>
                        <% } %>
                   
                    </div>

                    <div class="control-formulario">
                        <label class="preguntas-form"> Descripción del artículo </label>
                        <input type="textarea" id="descripcion" name="descripcion" value="<%= product.descripcion%>" class="ticks">
                        <% if (locals.errors && errors.descripcion) { %>
                            <div class="errorMsg">
                                <%= errors.descripcion.msg %>
                            </div>
                        <% } %>
                    
                    </div>

                    <div class="control-formulario">
                        <label class="preguntas-form"> Imagen del artículo </label>
                        <input type="file" id="imagenProducto" name="imagen" accept=".jpg, .png" multiple>
                        <% if (locals.errors && errors.imagen) { %>
                            <div class="errorMsg">
                                <%= errors.imagen.msg %> 
                            </div>
                        <% } %>
                    </div>


                    <div class="control-formulario">
                        <label class="preguntas-form"> Categoría del artículo</label>
                        <select id="categoria" name="categoria" class="ticks">
                            <option disabled selected value> -- Elegir una opción -- </option>
                            <% for (let i=0; i<categorias.length; i++)  {%>
                      
                                <% if (categorias[i].id == product.id_categoria){ %>

                                    <option value="<%=categorias[i].id %>" selected>
                                     <%=categorias[i].nombre%>
                                 </option>

                                <% }   else {%>
                                    <option value="<%=categorias[i].id %>">
                                     <%=categorias[i].nombre%>
                                 </option>

                                    <% }  %>
                                
                                 <%} %>
                       </select>         
                       <% if (locals.errors && errors.categoria) { %>
                        <div class="errorMsg">
                            <%= errors.categoria.msg %> 
                        </div>
                        <% } %>
                    </div>
                    <div class="control-formulario">
                        <label class="preguntas-form"> Cantidad del artículo </label>
                        <input type="number" id="numero" name="stock" placeholder="cantidad..." value="<%= product.stock%>" class="ticks">
                        <% if (locals.errors && errors.stock) { %>
                            <div class="errorMsg">
                                <%= errors.stock.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="control-formulario">
                        <label class="preguntas-form"> Marca del artículo</label>
                            <select id="marca" name="marca" class="ticks">
                                <option disabled selected value> -- Elegir una opción -- </option>
                                <% for (let i=0; i<marcas.length; i++)  {%>
                          
                                    <% if (marcas[i].id == product.id_marca){ %>

                                        <option value="<%=marcas[i].id %>" selected>
                                         <%=marcas[i].nombre%>
                                     </option>

                                    <% }   else {%>
                                        <option value="<%=marcas[i].id %>">
                                         <%=marcas[i].nombre%>
                                     </option>

                                        <% }  %>
                                    
                                     <%} %>
                           </select>         
                           <% if (locals.errors && errors.marca) { %>
                            <div class="errorMsg">
                                <%= errors.marca.msg %> 
                            </div>
                            <% } %>
                        </div>
                    <div class="control-formulario">
                        <label class="preguntas-form"> Precio del artículo</label>
                        <input type="text" id="precio" name="precio" value="<%= product.precio %>" class="ticks">
                        <% if (locals.errors && errors.precio) { %>
                            <div class="errorMsg">
                                <%= errors.precio.msg %> 
                            </div>
                        <% } %>
                    </div>

                    <!-- Botones de edit y delete-->
                    <div>

                        <button type="submit" class="editProductButton">Guardar cambios</button>
                    </div>
                     
                    
                </form>
                
                <form method="POST" class="deletionForm" action="/products/delete/<%= product.id%>?_method=DELETE">
                    <button type="submit" class="deleteArticle">Borrar artículo</button>
                </form>
            </main>
            <script src="../../js/validateEditProduct.js"></script>
            <%- include("partials/footer.ejs") %>

</html>