<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

    <body>

        <%- include("partials/header.ejs") %>

            <main class="main_edit">

                <!-- Formulario de edicion del usuario-->

                <h1 class="titulo-new-edit">
                    Hola <%= user.nombre + ' ' + user.apellido %>, aquí podes editar tu perfil!
                </h1>

                <form action="/users/profile/edit/<%= user.id %>?_method=PUT" method="POST"
                    class="formulario-edicion-creacion" enctype="multipart/form-data">

                    <div class="control-formulario">
                        <label class="preguntas-form"> Nombre </label>
                        <input type="text" name="nombre" value="<%= user.nombre %>" class="ticks" required>
                    </div>
                    <div class="control-formulario">
                        <label class="preguntas-form"> Apellido </label>
                        <input type="text" name="apellido" value="<%= user.apellido %>" class="ticks" required>
                    </div>
                    
                     <div class="control-formulario container">
                        <img src="/img/users/<%= user.imagen %> ">

                        <label class="preguntas-form"> Cambiar imágen del perfil </label>
                        <input type="file" name="imagen" accept=".jpg .png" value="<%= user.imagen %> ">
                        <% if (locals.errors && errors.imagen) { %>
                            <div class="errorMsg">
                                <%= errors.imagen.msg %> 
                            </div>
                        <% } %>
                    </div> 
                    <div class="control-formulario">
                        <label class="preguntas-form"> Cambiar contraseña </label>
                        <input type="password" name="contraseña" placeholder= "******">
                        <% if (locals.errors && errors.contraseña) { %>
                            <div class="errorMsg">
                                <%= errors.contraseña.msg %> 
                            </div>
                        <% } %>
                    </div>


                    
                    <!-- Boton de edit -->
                    <div>

                        <button type="submit" class="boton-envio">Guardar cambios</button>
                    </div>
                    <!-- ----------- -->                                       
                </form>
                <form method="POST" action="/users/delete/<%= user.id%>?_method=DELETE">
                    <button type="submit" class="boton-reset">Eliminar Cuenta</button>
                </form>
            </main>
            <%- include("partials/footer.ejs") %>

</html>