<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>

    <%- include("partials/header.ejs") %>
    
    <main class="main">
        
        <!-- Formulario de ayuda -->

        <form action="/" method="GET" class="form-extras" enctype="multipart/form-data">
                
            <h1> 
                ¿Necesitas ayuda?
            </h1>

            <h2> 
                ¡Completá tus datos con la consulta que tengas y te contestamos en la brevedad! 
            </h2>
            <div id="error-nombre"></div>      
            <div>
                <input id="nombre" type="text" name="nombre" placeholder="Nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                <% if (locals.errors && errors.nombre) { %>
                    <div class="errorMsg">
                        <%= errors.nombre.msg %> 
                    </div>
                    <% } %>
            </div>
            </div>
            
            <div>
                <input id="apellido" type="text" name="apellido" placeholder="Apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
                <% if (locals.errors && errors.apellido) { %>
                    <div class="errorMsg">
                        <%= errors.apellido.msg %> 
                    </div>
                <% } %>
            </div>
            
            <div>
                <input id="email" type="email" name="email" placeholder="Correo electrónico" value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) { %>
                    <div class="errorMsg">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
            </div>
            <div>
                <textarea id="consulta" name="consulta" rows="4" cols="50"> Escribí tu consulta en este campo...
                </textarea>
            </div>      
            
            <!-- Botón "enviar"-->

            <button type="submit" class="boton-crear-cuenta">ENVIAR</button>
            
            <!-- <div class="terminos-condiciones">
                <input type="checkbox" name="nombre" class="checkbox">
                <label>Al crear esta cuenta, acepto los <a href="/terminos" target="_blank"> Términos y Condiciones </a>  y la <a href="/privacidad" target="_blank"> Política de Privacidad </a> de la tienda.</label>
            </div> -->
                
        </form>

    </main>
    <script src="../../js/validateHelp.js"></script>
<%- include("partials/footer.ejs") %>
</html>