<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

    <body>

        <%- include("partials/header") %>

            <main class="main">

                <!-- Formulario de Creacion de producto-->
                <section class="contenedor-form-ec">
                    <form action="/products" method="POST" class="formulario-edicion-creacion productsCreateForm" enctype="multipart/form-data">

                        <h1 class="titulo-new-edit">
                            Alta de producto
                        </h1>

                        <ul id="errorsCreate"></ul>

                        <div class="control-formulario">
                            <label class="preguntas-form"> Nombre del artículo </label>
                            <input type="text" id="articulo" name="articulo" placeholder=" ej: Reloj suizo enchapado en oro" class="ticks">
                        </div>

                        <div class="control-formulario">
                            <label class="preguntas-form"> Descripcion del artiículo</label>
                            <input type="text" id="descripcion" name="descripcion" placeholder=" descripcion del articulo" class="ticks" >
                        </div>

                        <div class="control-formulario">
                            <label class="preguntas-form"> Imagen/es del producto </label>
                            <input type="file" id="imagenProducto" name="imagen" accept=".jpg, .png" class="clase-ecf" multiple>
                        </div>


                        <div class="control-formulario">
                            <label class="preguntas-form"> A que categoría pertenece el artículo</label>
                           <select id="categoria" name="categoria" class="ticks">
                                <option disabled selected value> -- Elegir una opción -- </option>
                                <% for (let i=0; i<categorias.length; i++)  {%>
                         
                                    <option value="<%=categorias[i].id %>">
                                        <%=categorias[i].nombre%>
                                    </option>
                                    <%} %>
                          </select>
                        </div>
                        <div class="control-formulario">
                            <label class="preguntas-form"> Ingrese cantidad en stock</label>
                            <input id="numero" type="number" name="stock" placeholder="cantidad..." class="ticks" >
                        </div>
                        <div class="control-formulario">
                            <label class="preguntas-form"> Ingrese la marca del articulo</label>
                            <select id="marca" name="marca" class="ticks">
                                <option disabled selected value> -- Elegir una opción -- </option>
                                <% for (let i=0; i<marcas.length; i++)  {%>
                          
                                     <option value="<%=marcas[i].id %>">
                                         <%=marcas[i].nombre%>
                                     </option>
                                     <%} %>
                           </select>                       
                        </div>
                        <div class="control-formulario">
                            <label class="preguntas-form">Ingrese el precio del articulo</label>
                            <input id="precio" type="text" name="precio" placeholder="$$$" class="ticks">
                        </div>
                        <!-- Botón "enviar"-->
                        <div>
                            <button type="submit" class="boton-envio">Crear articulo</button>
                            <button type="reset" class="boton-reset">Borrar todo</button>
                        </div>
                </section>
                <!-- ----------- -->
                </form>

            </main>
            <script src="../../js/validator.js"></script>
            <%- include("partials/footer") %>

</html>