<!DOCTYPE html>
<html lang="en">
    
<%- include("partials/head") %>

<body>

    <%- include("partials/header") %> 

    <main class="main">
        <section>
            <div class="titulo">CARRITO DE COMPRAS</div>
            <div class="contenedorNav"> <!-- para listados se arma con NAV + UL + LI -->
                <ul class="nombreProducto">
                    <p>Nombre del Producto</p>
                    <p>Imagen del Producto</p>
                    <p>Precio</p>
                    <p>Cantidad</p>
                    <p>Subtotal</p>
                    <p class="eliminarCarrito"></p>
                </ul>
            </div>
            <div class="articulos">
                <% for( let i = 0; i < carrito.length; i++ ) { %>
                    <div class="articulo-carrito">
                        <div class="detalle-producto-carrito">
                            <p class="config-detalle-carrito"><%= carrito[i].articulo %></p>
                            <div>
                                <img class="imagenReloj config-detalle-carrito" src="../../public/img/<%= carrito[i].imagen %>">                    
                            </div> 
                            <p class="precios config-detalle-carrito"> $<%= carrito[i].precio %></p>
                            <p class="desc config-detalle-carrito"> <%= carrito[i].cantidad %></p>
                            <p class="desc config-detalle-carrito">$<%= carrito[i].precio * carrito[i].cantidad %></p>
                            
                            <form class="form-carrito" action="/products/carrito/delete/<%= carrito[i].id %>?_method=DELETE" method="POST">
                                <button type="submit" class="eliminarCarrito">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>           
                    </div>
                <% } %>
            </div>

                   <div class="detalleIVA">
                       <div class="bordeIzquierdo"></div>
                       <div class="detalle">
                           <div class="IVA">IVA</div>
                           <div class="TOTAL">total</div>
                       </div>
                   </div> <!--cierre detalleCompra-->
                   
             <!--reutilice codigo para el total-->

                   <div class="detalleCompra">
                    <div class="bordeIzquierdo"></div>
                    <div class="detalle">
                        <div class="IVA">TOTAL</div>
                        <div class="TOTAL">total</div>
                    </div>
                </div> <!--cierre detalleCompra-->
                <div class="botonComprar">
                <button class="btnComprar" type="submit">COMPRAR</button> 
        </section>
    </main>
<%- include("partials/footer") %>
</html>