<!DOCTYPE html>
<html lang="en">
    
<%- include("partials/head") %>

<body class="body-carrito">

    <%- include("partials/header") %> 

    <main class="main">
        <section>
            <h2 class="titulo">CARRITO DE COMPRAS</h2>
            <main class="main-carrito">
                <div class="articulos">
                    <% if(carrito.length == 0){ %>
                        <h3 class="sin-compras">Aun no has agregado nada al carrito</h3>
                    <% } else { %>
                    <% for( let i = 0; i < carrito.length; i++ ) { %>
                        <div class="producto-completo-carrito">
                            <div class="imagen-producto-carrito">
                                <img class="imagenReloj config-detalle-carrito" src="../../img/<%= carrito[i].imagen %>">                    
                            </div>
                            <div class="detalles-carrito">                                 
                                <p class="config-detalle-carrito descripcion-producto-carrito"><b><%= carrito[i].articulo %></b> - <%= carrito[i].descripcion %></p>
                                <p class="precio-carrito config-detalle-carrito"> $<%= carrito[i].precio %></p>
                                <p class="stock">En Stock</p>
                                <p class="desc config-detalle-carrito"> Cant: <%= carrito[i].cantidad %></p>
                                <form class="form-carrito" action="/products/carrito/delete/<%= carrito[i].id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="eliminarCarrito">
                                        <i class="fas fa-trash-alt"></i>
                                        <p class="eliminar-producto-carrito">Eliminar Producto</p>
                                    </button>
                                    
                                </form>
                            </div>
                        </div>
                    <% } %><% } %> 
                </div>
                <aside class="aside-carrito">
                    <div class="div-aside">
                        <% if(carrito.length == 0){ %> 
                            <p>(Subtotal 0 productos): $ 0</p>
                        <% } else { var cantidadProductosCarrito = 0; var sumaTotalProductos = 0 %>
                        <% for( let i = 0; i < carrito.length; i++ ) {
                            cantidadProductosCarrito = cantidadProductosCarrito + Number(carrito[i].cantidad); 
                            sumaTotalProductos = sumaTotalProductos + Number(carrito[i].precio); %>
                            
                            
                        <% } %> <p class="subtotalCarrito"><b>Subtotal</b> (<%= cantidadProductosCarrito %> productos): </p>
                                <b><p class="subtotalCarrito"> $<%= sumaTotalProductos %></p></b>
                        <% } %> 
                        
                        <form>
                            <button class="boton-compra">Realizar la compra</button>
                        </form>

                    </div>
                    <div class="div-aside oferta-productos">
                        <p>Productos que puedan interesarte</p>
                    </div>
                </aside>
            </main>
        </section>
    </main>
<%- include("partials/footer") %>
</html>