<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>

    <%- include("partials/header.ejs") %>
    
    <main class="main">
        
        <!-- Formulario de Registro-->

        <form action="../users/register" method="POST" class="form-login-register" enctype="multipart/form-data">
                
            <h2> 
                ¡Bienvenido a O'Clock Shop!
            </h2>

            <h1> 
                Registrate completando tus datos
            </h1>

            <div>
                <input type="text" name="nombre" placeholder="Nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                <% if (locals.errors && errors.nombre) { %>
                    <div class="errorMsg">
                        <%= errors.nombre.msg %> 
                    </div>
                <% } %>
            </div>
            </div>
            
            <div>
                <input type="text" name="usuario" placeholder="Apellido" value="<%= locals.oldData ? oldData.usuario : null %>">
                <% if (locals.errors && errors.usuario) { %>
                    <div class="errorMsg">
                        <%= errors.usuario.msg %> 
                    </div>
                <% } %>
            </div>
            
            <div>
                <input type="email" name="email" placeholder="Correo electrónico">
            </div>
            <div>
                <label>Ingresá una foto</label>
                <input type="file" name="avatar">
            </div>       
    
            <div>
                <input type="password" name="contraseña" placeholder="Contraseña">
            </div>
            
            <div>
                <input type="password" name="confirmar" placeholder="Confirmar contraseña">
            </div>
            
            <!-- Botón "enviar"-->

            <button type="submit" class="boton-crear-cuenta">CREAR CUENTA</button>
            
            <div class="terminos-condiciones">
                <input type="checkbox" name="nombre" class="checkbox">
                <label>Al crear esta cuenta, acepto los <a href=""> Términos y Condiciones </a>  y la <a href=""> Política de Privacidad </a> de la tienda.</label>
            </div>
                
        </form>

    </main>
<%- include("partials/footer.ejs") %>
</html>