<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body id="body-login-register">

    <%- include("partials/header.ejs") %>
    
    <main class="main" id="main-login-register">
        
        <!-- Formulario de Registro-->
      
         <form action="../users/register" method="POST" class="form-login-register" enctype="multipart/form-data"> 
                
            <h1> 
                ¡Bienvenido a O'Clock Shop!
            </h1>

            <h2> 
                Registrate completando tus datos
            </h2>

            <div class="try">
                <input class="register-input" id="nombre" type="text" name="nombre" placeholder="Nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                <% if (locals.errors && errors.nombre) { %>
                    <div class="errorMsg">
                        <%= errors.nombre.msg %> 
                    </div>
                    <% } %>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
            </div>
            
            <div class="try">
                <input class="register-input" id="apellido" type="text" name="apellido" placeholder="Apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
                <% if (locals.errors && errors.apellido) { %>
                    <div class="errorMsg">
                        <%= errors.apellido.msg %> 
                    </div>
                <% } %>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            
            <div class="try"> 
                <input class="register-input" id="email" type="text" name="email" placeholder="Correo electrónico" value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) { %>
                    <div class="errorMsg">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="try">
               <!-- <label>Ingresá una foto</label> -->
                <input class="register-input" id="imagen" type="file" name="imagen">
                <% if (locals.errors && errors.imagen) { %>
                    <div class="errorMsg">
                        <%= errors.imagen.msg %> 
                    </div>
                <% } %>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>      
    
            <div class="try">
                <input class="register-input" id="contraseña" type="password" name="contraseña" placeholder="Contraseña">
                <% if (locals.errors && errors.contraseña) { %>
                    <div class="errorMsg">
                        <%= errors.contraseña.msg %> 
                    </div>
                <% } %>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div> 
            
        
            <button type="submit" class="boton-crear-cuenta" id="enviar">CREAR CUENTA</button>
            
                
        </form>

    </main>
</body>
<script src="../../js/validateRegister.js"></script>
<%- include("partials/footer.ejs") %>
</html> 