<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body class="body">
    
    <%- include("partials/header") %>
   

    <section>
        <h2 class="titulo-categ second"> Resultados de Busqueda para "<%= searched %>" </h2>

        <div class="all-products">
            <% for( let i = 0; i< searchedProducts.length; i++ ) { %>
                        
            <div class="articulos articles">          
                <div class="article-container" >    
                    <div class="img-container">
                        <a href="./products/detail/<%=searchedProducts[i].id  %> "><h3><%=searchedProducts[i].articulo%> </h3></a>
                        <img src="../img/<%=searchedProducts[i].imagen  %> " alt="">
                    </div>           
                    <div class="articulo-x">
                        <div class="icono-articulo">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                    <div class="sub-articilo-x">
                        <p class="precio-anterior"><%= searchedProducts[i].precio %> </p>
                        <p class="precio-oferta"><%= searchedProducts[i].precio %></p>
                    </div>
                </div>         
            </div>
            <% } %>
        </div>
    </section>

<%- include("partials/footer") %>

</html>