<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head'); %>
	<body class="body-profile">
		<%- include('partials/header'); %>
		
		<!-- Container -->
		<div class="container">
			<div>
				<div class="logout"> 
					<a class="button-profile" href="/users/profile/edit/<%= user.id %>"><p>Editar Perfil</p></a>
					<a class="button-profile" href="/users/logout"><p>Logout</p></a>
				</div>
			</div>	
			<div class="profile">
				<h2>Hola <%= user.nombre %>! </h2>
				<img src="/img/users/<%= user.imagen %> ">
				<p class="user-mail"><%= user.email %> </p>
			</div>
		</div>

		<!-- //Container -->
		
		<%- include('partials/footer'); %>
	</body>
</html>

