<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<body>
    <%- include('partials/header'); %>
	
	<!-- Container -->
<div class="container">
	<p class="logout"> 
		<a href="/users/editProfile/<%= user.id %>">Editar Perfil</a>
		<a href="/users/logout">Logout</a>
	</p>
                    
	<h2>Hola <%= user.nombre %>! </h2>
	<img src="/img/users/<%= user.imagen %> ">
	<p class="user-mail"><%= user.email %> </p>
</div>

	<!-- //Container -->
	
	<%- include('partials/footer'); %>
</body>
</html>

